fixtures/srfi-27/reference/conftest.scm whitespace=-trailing-space,-blank-at-eof
scheme/stdlib/reference/r7rs-large/2016-07-red-edition-report.md whitespace=-trailing-space,-blank-at-eof
scheme/stdlib/reference/r7rs-large/2019-02-tangerine-edition-report.md whitespace=-trailing-space,-blank-at-eof
scheme/stdlib/reference/r7rs-large/2022-02-yellow-edition-report.txt whitespace=-trailing-space,-blank-at-eof
scheme/stdlib/reference/r7rs-large/LICENCE.txt whitespace=-trailing-space,-blank-at-eof
scheme/stdlib/reference/srfi-*/*.html whitespace=-trailing-space,-blank-at-eof
